@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_LayoutMember";
}

<section class="my-5">
    <div class="container bg-white p-4">
        <h6 class="hid"></h6>
        <div class="row d-flex justify-content-between p-3">
            <div class="pl-2 text-body font-weight-bold">
                <h4>Forum Discussion</h4>
            </div>
        </div>
        <div class="container" id="diskusi">
        </div>
        <div class="container" id="tampilKomen">
        </div>
        <div class="collapse" id="postKomen">
            <section class="new-topic my-5">
                <div class="container bg-white p-4">
                    <div class="row d-flex justify-content-between p-3">
                        <div class="">
                            <img src="/page/img/message_icon2.png" class="img-fluid">
                            <span class="pl-2 text-body font-weight-bold">Create Comment</span>
                        </div>
                    </div>
                    <div class="form py-3">
                        <form id="formComment">
                            <div class="form-group">
                                <label for="formInputContentComment">Content Comment</label>
                                <input type="text" class="form-control" id="contentComment" name="contentComment" placeholder="Content Comment">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="formInputDateComment">Date Comment</label>
                                    <input type="date" class="form-control" id="dateCom" name="dateCom" placeholder="DateCom">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="formInputUserId">Name User</label>
                                    <input type="text" class="form-control" id="user" name="user" placeholder="UserId" value="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId")" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="formInputDiscussionId">Content Discussion</label>
                                    <input type="text" class="form-control" id="dis" name="dis" placeholder="DisId" disabled>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-end mt-4 px-3">
                                <button type="button" class="btn btn-warning" onclick="validComment()">Add Comment</button>
                                <button type="button" class="btn btn-danger" onclick=window.location.reload();>Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>