@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDiskusi";
}

<div class="container" id="tampilDiskusi">

</div>

<br>
<div class="container">
    <h6>Komentar</h6>
</div>

<div class="container" id="tampilKomen">

</div>