@{
    Layout = "_LayoutAdmin";
}

<p></p>
<div class="card-group">
    <div class="col-6">
        <div class="card bg-light mb-3" id="chartReplies">
            <div class="card text-center">
                <div class="card-header">
                    Jumlah Komen Member dalam suatu Diskusi
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-light mb-3" id="chartUserDis">
            <div class="card text-center">
                <div class="card-header">
                    Jumlah Post Diskusi yang dibuat oleh Member
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="card-group">
    <div class="col-6">
        <div class="card bg-light mb-3" id="chartCatDis">
            <div class="card text-center">
                <div class="card-header">
                    Jumlah Kategori ID yang dipilih di Post Diskusi
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-light mb-3" id="chartGender">
            <div class="card text-center">
                <div class="card-header">
                    Gender
                </div>
            </div>
        </div>
    </div>
</div>